[Unit]
Description=Restarter for koji-hub

[Service]
Type=simple
ExecStart=/opt/koji-hub-watcher.sh
Restart=on-failure

[Install]
WantedBy=default.target